body {
    background-color: #f1f1f1;
    /* background-color: blue; */
}

* {
    box-sizing: border-box;
}

/* 去除默认样式 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 去除链接下划线 */
.no-decoration {
    text-decoration: none;
}

/* 虚线 */
.border-dashed {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

/* 实线 */
.border-solid {
    border-bottom: 1px solid rgb(23, 162, 184);
}

/* 阴影 */
.box-shoadow {
    transition: all 0.5s;
}

.box-shoadow:hover {
    box-shadow: 0 0 30px #ccc;
}



/* -------------------------------------------------------首页------------------------------------------------------ */
/* -------------导航栏----------- */
.navbar-expand-md .navbar-collapse {
    /* 导航索引从右开始排列 */
    justify-content: flex-end;
}

.navbar .navbar-collapse .navbar-nav>.active {
    color: yellow;
}

/* 去除在小屏情况下导航栏条的框 */
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-collapse .navbar-nav a+a {
    margin-left: 8px;
}

/* ----------文章卡片----------- */
.lin-4 {
    /* 多行文本溢出隐藏 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /*最多显示4行*/
    -webkit-box-orient: vertical;
}

.card-bgimg {
    overflow: hidden;
}

.card-bgimg>a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.card-bgimg>a:hover {
    transform: scale(1.2, 1.2);
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.fw700 {
    font-weight: 700;
}

.mleft-10 {
    margin-left: 10px;
}


/* -------------选项卡 -------------*/
.nav-pills .nav-link {
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-link.active {
    /* 给选项按钮加上背景色 */
    background-color: rgb(0, 122, 255) !important;
}

.recommend-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    /*计数器的名称*/
    counter-reset: counta;
}

.recommend-list-a {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: rgb(33, 37, 41);
    margin: 10px 0;
}

.recommend-list-a>span {
    flex: 0 0 calc(100% - 80px);
    padding-right: 10px;
}

.recommend-list-a>span::before {
    /* 标题前的小数字方格 */
    counter-increment: counta;
    /*计数器递增1次*/
    content: counter(counta);
    /*显示计数器计算结果*/
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-right: 5px;
}

/* 给前三个设置红色 */
.recommend-list li:nth-child(1) .recommend-list-a>span::before {
    background-color: red;
}

.recommend-list li:nth-child(2) .recommend-list-a>span::before {
    background-color: red;
}

.recommend-list li:nth-child(3) .recommend-list-a>span::before {
    background-color: red;
}

.recommend-list-a>em {
    font-style: normal;
    width: 70px;
}


/* ------------搜索框----------- */
@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

@media (max-width: 1400px) {
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .search-body .btn {
        position: relative;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* 热门标签 */
.label a span {
    margin: 5px 0;
}


/* ------------底部------------- */
.footer {
    margin-top: 20px;
    /* background-color: #bfa !important; */
}

.copyright p:first-child {
    line-height: 20px;
    padding-top: 10px;
}

.copyright p:last-child {
    line-height: 20px;
    padding-top: -10px;
    padding-bottom: 10px;
}

.copyright p a {
    color: #6c757d;
}

.lh-3 {
    line-height: 3;
}

.form-group input {
    margin-right: 10px;
}




@media (min-width:768px) {

    /* 导航hover背景 */
    .navbar-nav>a {
        position: relative;
        z-index: 1;
    }

    .navbar-nav>a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 100%;
        z-index: -1;
        background-color: rgb(0, 122, 255);
        /* 过渡 */
        transition: all 0.5s;

    }

    .navbar-nav>a:hover::after {
        display: block;
        width: 100%;
        left: 0;
    }
}


@media (max-width:768px) {

    /*小于540px的屏幕的样式*/
    .transparent-navbar {
        background-color: rgb(51, 51, 51, 0.8) !important;
    }

    .p-x-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .p-3 {
        padding: 5px !important;
    }

    .hidden {
        display: none;
    }
}


/* -------------------------------------------------文章详情页------------------------------------------------- */

/* 右侧关于部分 */
.active-red {
    color: red;
}

.breadcrumb .breadcrumb-item .no-hover-color:hover {
    color: rgb(153, 153, 153);
}

.color-153 {
    color: rgb(153, 153, 153)
}


/* ------------------------------------------------文章列表页-------------------------------------------------- */

/* 分页的按钮颜色 */
.page-link {
    color: #198754
}


/* 右浮动 */
.float-right {
    float: right !important;
}

/* 左浮动 */
.float-left {
    float: left !important;
}

.a-color {
    color: #212529
}

.liststyle-none {
    list-style: none;
}


/* ---------------------------------------------标签云------------------------------------------- */

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}


.label a span {
    margin: 5px 0;
}


.btn-bbq-info {
    color: #444;
    background-color: #fff;
    border-color: #f1f1f1;
}


.btn-bbq-info:hover {
    color: #fff;
    background-color: #ff4c4c;
}



/* --------------------------------------------------------留言------------------------------------------------ */
/* 在线留言部分 */
.fw-500 {
    font-weight: 500;
}

.fs-23 {
    font-size: 23px;
}

.fs-14 {
    font-size: 14px;
}

.mr-14 {
    margin-right: 14px;
}

.fs-17 {
    font-size: 17.5px;
}



.font-weight-normal {
    font-weight: 400 !important;
}

.bg-color {
    color: #212529;
    background-color: #f8f9fa;
}

.text-secondary {
    color: #6c757d !important;
}

.border-top-dashed {
    border-top: 1px dashed #dee2e6 !important;
}

.display-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.display-flex-body {
    flex: 1;
}

/* 留言表单部分 */
.fs-24 {
    font-size: 24px;
}

/* .row {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

.online-word {
    text-align: center;
}

.row .my-4 .form-group label {
    margin-bottom: 10px;
}

.row .my-4 .form-group>div {
    margin-bottom: 10px;
}

.col-word-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    .col-lg-word-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-lg-word-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .col-lg-word-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}



/* -----------------------------------------------关于------------------------------------------- */
.bigImg {
    position: relative;
    height: 150px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bigImg h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

@media only screen and (min-width: 576px) {
    .fs-sm-26 {
        font-size: 1.857rem;
    }

}

@media (max-width: 768px) {
    .bigImg {
        height: 100px
    }
}

.about-pages {
    min-height: 500px;
}

.about-pages p {
    margin-left: 8px;
    /* margin-top: 8px; */
    line-height: 2;
    font-size: 15px;
    color: #666;

}

.about-word .title {
    text-align: center;
    font-size: 1.8rem;
}


/* -------------------------------------------------动画效果------------------------------------------------- */
/* 左边飞入效果 */
.animate-left{
    position: relative;
    animation: animateL 1s;
    /* 计数 */
    /* animation-delay: (n*100)ms; */
}





@keyframes animateL {
    from {
        bottom: -50vh;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

/* 右边飞入动画 */
.animate-right {
    position: relative;
    animation: animateR 1s;
}

/* .animate-right-1 {
    position: relative;
    animation: animateR 1s;
    animation-delay: 0.5s;
}

.animate-right-2 {
    position: relative;
    animation: animateR 1s;
    animation-delay: 0.8s;
}

.animate-right-3 {
    position: relative;
    animation: animateR 1s;
    animation-delay: 1s;
}

.animate-right-4 {
    position: relative;
    animation: animateR 1s;
    animation-delay: 1.2s;
} */

@keyframes animateR {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

