<%- include("./common/header.html") %>

<body>
    <!-- 顶部导航 -->
    <%- include("./common/nav.html") %>
    <!-- 顶部导航结束 -->

    <!-- 占位导航栏 -->
    <div style="height:54px;" class="head-sm-height"></div>
    <!-- 占位导航栏结束 -->

    <!-- 主体 -->
    <div class="container">
        <div class="row mt-3">
            <!-- 主体左边部分 -->
            <div class="col-12 col-md-9 p-x-0">
                <!-- 顶部的当前位置 -->
                <div class="bg-white p-1 pe-2 rounded">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb m-0 color-153">
                            <li class="me-2">当前位置:</li>
                            <li class="breadcrumb-item"><a href="/" class="no-decoration color-153">首页</a></li>
                            <li class="breadcrumb-item"><a href="/1/article.html" class="no-decoration color-153"><%= blogType %></a></li>
                        </ol>
                    </nav>
                </div>
                <!-- 当前位置结束 -->
                <!-- 分类导航 -->
                <div class="mt-3">
                    <% if(active === "article1"){ %>
                    <button type="button" class="btn btn-success">
                      技术<span class="badge bg-light text-dark"><%= total1 %></span></button>
                    <% } else {%>
                    <button type="button" class="btn btn-light">
                      技术<span class="badge bg-success"><%= total1 %></span></button>
                    <% } %>
            
                    <% if(active === "article2"){ %>
                      <button type="button" class="btn btn-success">
                        随笔<span class="badge bg-light text-dark"><%= total2 %></span></button>
                      <% } else {%>
                      <button type="button" class="btn btn-light">
                        随笔<span class="badge bg-success"><%= total2 %></span></button>
                      <% } %>
                    
                    <% if(active === "article3"){ %>
                    <button type="button" class="btn btn-success">
                      笔记 <span class="badge bg-light text-dark"><%= total3 %></span></button>
                    <% } else {%>
                    <button type="button" class="btn btn-light">
                      笔记<span class="badge bg-success"><%= total3 %></span></button>
                    <% } %>
                     
                  </div>
                <!-- 分类导航结束 -->
                <!-- 文章列表 -->
                <article class="mt-3 bg-white shandow-sm p-3 rounded">
                    <section id="main">
                    <% blogData.forEach(function(item) { %>
                    <!-- 文章卡片  -->
                    <div class="card mb-3 p-2 shadow-sm mt-2">
                        <div class="row g-0">
                            <h5 class="card-title"><a href="/<%= item.id %>/details.html"
                                    class="no-decoration link-dark fw700 fs-5"><%= item.title%></a>
                            </h5>
                            <div class="col-md-4 card-bgimg rounded d-none d-md-block min-height143">
                                <a href="#" style="background-image:url('<%= item.img %>')"></a>
                            </div>
                            <div class="col-md-4 card-bgimg rounded p-3  d-md-none">
                                <a href="#"><img src="<%= item.img %>" class="img-fluid rounded " alt="<%= item.title %>"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body pt-0 pe-0">
                                    <p class="card-text lin-4 mb-2">
                                        <%= item.introduction%>
                                    </p>
                                    <p class="mb-2">
                                        <a href="#" class="f-12 text-dark bg-light no-decoration fw-bold"><%= BLOG_TYPE[item.blog_type] %></a>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-danger d-inline-block">
                                            <span class="iconfont icon-shizhong"></span>  <%= formatDate(item.create_time)%>
                                        </small>
                                        <small class="text-danger d-inline-block mleft-10">
                                            <span class="iconfont icon-yanjing"></span> <%= item.read_ %> 次
                                        </small>
                                        <button type="button" class="btn btn-success float-end">阅读全文</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </section>
                    <!-- 文章卡片结束 -->
                    <!-- 分页开始 -->
                    <div class="d-flex justify-content-center">
                        <div class="box m-style"></div>
                      </div>
                    <!-- 分页结束 -->
                </article>
            
                <!-- 文章列表结束 -->
            </div>
            <!-- 主体右边部分 -->
            <div class="col-12 col-md-3 hidden">
                <!-- 联系方式 -->
                <div class="p-2 bg-white shandow-sm rounded box-shoadow animate-right-card">
                    <h5 class="d-flex justify-content-between border-dashed pb-2">
                        <span>联系方式</span>
                    </h5>
                    <p class="my-2 f-14"><span class="fw-bold">名称</span>：哲理源</p>
                    <p class="my-2 f-14"><span class="fw-bold">地址</span>：浙江省宁波市</p>
                    <p class="my-2 f-14"><span class="fw-bold">电话</span>：156xxxx0216</p>
                    <p class="my-2 f-14"><span class="fw-bold">邮箱</span>：hzy@gmail.com</p>
                    <p class="my-2 f-14"><span class="fw-bold">QQ</span>：2029886425</p>
                </div>
                <!-- 选项卡 -->
                
                <%- include("./common/rightBlock.html") %>

                <!-- 关键字搜索 -->
                <div class="p-2 bg-white shandow-sm rounded mt-3 box-shoadow animate-right-card">
                    <h5 class="d-flex justify-content-between border-dashed pb-2">
                        <span>关键字搜索</span>
                    </h5>
                    <!-- 搜索 -->
                    <div class="search-body mt-2">
                        <!-- 搜索-->
                        <form class="form-inline" action="javascript:;" method="get">
                            <div class="form-group">
                                <input type="text" name="keyword" class="form-control" placeholder="请输入关键字">
                                <button type="submit" class="btn btn-success">搜索</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 关于 -->
                <div class="p-2 bg-white shandow-sm rounded mt-3 box-shoadow animate-right-card">
                    <h5 class="d-flex justify-content-between border-dashed pb-2">
                        <span>关于</span>
                    </h5>
                    <p class="my-2 f-14"><span class="fw-bold">博客名称</span>：哲理源博客</p>
                    <p class="my-2 f-14"><span class="fw-bold">开博时间</span>：2022-xx-xx</p>
                    <p class="my-2 f-14"><span class="fw-bold">后台系统</span>：xxx</p>
                    <p class="my-2 f-14"><span class="fw-bold">文章统计</span>：13篇 <a href="javascript:;"
                            class="active-red no-decoration">随笔</a> |
                        9篇 <a href="javascript:;" class="active-red no-decoration">文章</a> </p>
                </div>
            </div>
        </div>
    </div>

    
     <!-- 把博客分类数据的总条数放入一个隐藏元素，方便js读取该值。 -->
    <span hidden id="total"><%= total %></span>
    <span hidden id="typename"><%= typename %></span>
    <!-- 底部 -->
    <%- include("./common/footer.html") %>
    <!-- 加载分页的js -->
    <script src="/static/js/tool.js" defer></script>
    <script src="/static/js/list.js" defer></script>
</body>

</html>