<%- include("./common/header.html") %>

<body>
    <!-- 顶部导航 -->
    <%- include("./common/nav.html") %>
    <!-- 顶部导航结束 -->

    <!-- 占位导航栏 -->
    <div style="height:54px;" class="head-sm-height"></div>
    <!-- 占位导航栏结束 -->

    <!-- 主体 -->
    <div class="container">
        <div class="row mt-3">
            <!-- 主体左边部分 -->
            <div class="col-12 col-md-9 p-x-0">
                <!-- 顶部的当前位置 -->
                <div class="bg-white p-1 pe-2 rounded">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb m-0 color-153">
                            <li class="me-2">当前位置:</li>
                            <li class="breadcrumb-item"><a href="/"
                                    class="no-decoration color-153 no-hover-color">首页</a></li>
                            <li class="breadcrumb-item">
                                <a class="no-decoration color-153 no-hover-color" 
                                    href="/<%= blogData.blog_type  %>/article.html">
                                    <%= BLOG_TYPE[blogData.blog_type] %>
                                </a>
                            </li>
                            <li class="breadcrumb-item color-153" aria-current="page"><%= blogData.title  %></li>
                        </ol>
                    </nav>
                </div>
                <!-- 顶部当前位置结束 -->
                <!-- 分类导航 -->
                
                <!-- 分类导航结束 -->
                <!-- 文字区域 -->
                <main class="mt-3 bg-white shandow-sm p-3 rounded">
                    <section class="border-bottom text-center">
                        <h1 class="fs-4"><%= blogData.title  %></h1>
                        <p class="text-secondary">
                            <span class="iconfont icon-rili"></span>：<%= formatDate(blogData.create_time)  %> &nbsp;&nbsp;
                            <span class="iconfont icon-idcard"></span>：<%= blogData.nick  %>&nbsp;&nbsp;
                            <span class="iconfont icon-tongji"></span>：<%= blogData.read_  %>次浏览
                        </p>
                    </section>
                    <!-- 具体文章 -->
                    <section class="detail-content">
                        <!-- 段落一 -->
                        <%- blogData.content  %>
                    </section>
                    <!-- 文章底部 -->
                    <section class="text-secondary lh-2">
                        <% if(preData){ %>
                            <p><a class="no-decoration color-153 no-hover-color" 
                                href="/<%= preData.id %>/details.html">上一篇:<%= preData.title %>
                            </a></p>
                        <% } %>
                        <% if(nextData){ %>
                             <p><a class="no-decoration color-153 no-hover-color" 
                                 href="/<%= nextData.id %>/details.html">下一篇:<%= nextData.title %>
                             </a></p>
                           <% } %>
                     </section>
                    <!-- 评论区域 -->
                    <article>
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                              type="button" role="tab" aria-controls="nav-home" aria-selected="true">评论</button>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <!-- 评论显示区 -->
                          </div>
                          <!-- 分页开始 -->
                          <div class="d-flex justify-content-center">
                            <div class="m-style" id="pagination"></div>
                          </div>
                            <!-- 分页结束 -->
                          <div class="mb-3 border-top mt-3">
                            <label for="articleCon" class="form-label">发布评论</label>
                            <textarea class="form-control" id="articleCon" rows="3"></textarea>
                          </div>
                          <p style="text-align: right;">
                            <button type="button" id="submit" class="btn btn-success">发布</button>
                          </p>
                        </div>
                      </article>
                    </main>
                <!-- 文字区域结束 -->

            </div>
            <!-- 主体右边部分 -->
            <div class="col-12 col-md-3 hidden">
                <!-- 联系方式 -->
                <!-- 选项卡 -->
                <%- include("./common/rightBlock.html") %>
               
                <!-- 关于 -->
                <%- include("./common/info.html") %>
            </div>
        </div>
    </div>
    <span hidden id="id"><%= id %></span>
    <!-- 底部 -->
    <%- include("./common/footer.html") %>
    <script src="/static/js/tool.js" defer></script>
    <script src="/static/js/details.js" defer></script>
</body>

</html>