<nav class="navbar navbar-expand-md navbar-dark transparent-navbar fixed-top"
    style="background-color: rgb(51,51,51,0.8);">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/static/images/头像.jpg" alt="" width="30" height="28" class="d-inline-block align-text-top">
            个人博客
        </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="输入博客关键词" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><span class="iconfont icon-search" ></span></button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if(active==="index" ){%>
                    <a class="nav-link active" aria-current="page" href="/">
                      <%} else {%>
                        <a class="nav-link" aria-current="page" href="/">
                      <%}%>
                        <span class="iconfont icon-home"></span>首页
                      </a>
                      <% if(active==="article1" ){%>
                        <a class="nav-link active" href="/1/article.html">技术</a>
                      <%} else {%>
                        <a class="nav-link" href="/1/article.html">技术</a>
                      <%}%>
                      <% if(active==="article2" ){%>
                        <a class="nav-link active" href="/2/article.html">随笔</a>
                      <%} else {%>
                        <a class="nav-link" href="/2/article.html">随笔</a>
                      <%}%>
                      <% if(active==="article3" ){%>
                        <a class="nav-link active" href="/3/article.html">笔记</a>
                      <%} else {%>
                        <a class="nav-link" href="/3/article.html">笔记</a>
                      <%}%>
                <!-- <a class="nav-link" href="/static/words.html">留言</a> -->
                <!-- <a class="nav-link" href="/static/about.html">关于</a> -->
            </div>
        </div>
    </div>
</nav>